		<div id="wrapper_all">
			<div ng-include src="'pages/includes/header.html'"></div>

			<section id="breadcrumbs">
				<div class="container">
					<ul>
						<li><a href="javascript:;">Projector</a></li>
						<li><a href="javascript:;">Users</a></li>
						<li><span>Home</span></li>						
					</ul>
				</div>
			</section>

			<section class="container clearfix main_section">
				<div id="main_content_outer" class="clearfix">
					<div id="main_content">
						<div class="row">
							<div ng-include src="'pages/users/inc/usernav.html'"></div>
							<div class="col-sm-12 col-md-10">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">List of Users</h4>
									</div>
									<table id="dt_basic" class="table table-striped">
										<thead>
											<tr>
												<th>Name</th>
												<th>Username</th>
												<th>Role</th>
												<th style="width: 20%;">Action</th>
											</tr>
										</thead>
										<tbody>
										    <tr ng-repeat="usr in Users | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage" id="{{ usr.ID }}">
										        <td class="capitalize">{{ usr.FIRSTNAME +' '+ usr.LASTNAME }}</td>
										        <td>{{ usr.USERNAME }}</td>
										        <td>{{ usr.ROLE }}</td>
										        <td>
											        <a href="#/users/edit/{{ usr.ID }}"><i class="icon-edit-sign"></i></a> | <a href="javascript:;" ng-click="removeUser(usr.ID)"><i class="icon-remove-sign"></i></a>
											    </td>
										    </tr>
										</tbody>
									</table>

									<div class="pull-right">
										<ul class="pagination">
											<li><a href="" ng-click="pagination.prevPage()">&laquo;</a></li>
											<li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: n == pagination.page}">
												<a href="" ng-click="pagination.toPageId(n)">{{n + 1}}</a>
											</li>
											<li><a href="" ng-click="pagination.nextPage()">&raquo;</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div id="footer_space"></div>
		</div>
	
        <div ng-include src="'pages/includes/navbar.html'"></div>
		<!-- <div ng-include src="'pages/includes/footer.html'"></div> -->

		<div class="stickyNote-queue top-center" style="left: 40%; width: 60% !important;">
			<div class="stickyNote border-top-right {{ NotiClass }}" style="display: none;">
				<button type="button" class="stickyNote-close close" ng-click="dismissNoti()">×</button>
				<p class="stickyNote-note">{{ NotificationMsg }}</p>
			</div>
		</div>