<header id="top_header">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-md-6">
				<a href="javascript:;"><h2 style="margin-top: 5px;">{{ PageHead }}</h2></a>
			</div>
			<div class="col-xs-6 col-md-6">
				<div class="pull-right dropdown">
					<a href="javascript:;" class="user_info dropdown-toggle" title="Jonathan Hay" data-toggle="dropdown" style="margin-top: 10%;font-size: 20px;color: #333;">
						<span class="glyphicon glyphicon-user"></span>
					  	<span>{{ CurrentUser }}</span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#/profile">Profile</a></li>
						<li><a href="#/help">Account Settings</a></li>
						<li><a href="#/login">Log Out</a></li>
					</ul>
				</div>

				<div class="notification_separator"></div>

				<div class="pull-right notification_dropdown dropdown" style="margin-right: 5%; margin-top: 1%;">
					<a href="javascript:;" class="notification_icon dropdown-toggle" data-toggle="dropdown">
						<span class="label label-danger" style="border-radius: 50%;">12</span>
						<i class="icon-globe icon-2x"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-wide">
						<li>
							<div class="dropdown_heading">Messages</div>
							<div class="dropdown_content">
								<ul class="dropdown_items">
									<li>
										<h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
										<p class="large_info">Sean Walter, 24.05.2014</p>
										<i class="icon-exclamation-sign indicator"></i>
									</li>
									<li>
										<h3><a href="#">Lorem ipsum dolor&hellip;</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aliquam assumenda&hellip;</p>
										<p class="large_info">Sean Walter, 24.05.2014</p>
									</li>
									<li>
										<h3><a href="#">Lorem ipsum dolor&hellip;</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur&hellip;</p>
										<p class="large_info">Sean Walter, 24.05.2014</p>
										<i class="icon-exclamation-sign indicator"></i>
									</li>
								</ul>
							</div>
							<div class="dropdown_footer">
								<a href="#" class="btn btn-sm btn-default">Show all</a>
								<div class="pull-right dropdown_actions">
									<a href="#"><i class="icon-refresh"></i></a>
									<a href="#"><i class="icon-cog"></i></a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>